<<<<<<< HEAD

#nav1{
  float:left;
}
#nav1 ul{
  list-style: none;
  overflow: hidden;
}
#nav1 ul li{
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  bottom: 20px;
}
#nav1 ul li a {
  display: block; 
  padding: 15px;
  margin: auto;
  color: #fff;
  text-decoration: none;
  

}
#nav1 ul .li2:hover {
  background: #0b0c0c; 
  border-radius: 70px;
  border-style: solid;
  border-color: #ffffff;
 
}

.li2{
  margin-top: 25px;
}
.imagen999{
  border-radius: 50%;
}

#video {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  overflow: hidden;
  }

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  height: 100%;
  margin: 0px 0px 0px 0px;
}
.formulario {
  background-color: rgb(231, 240, 230);
  width: 380px;
  border-radius: 10px;
  margin: 120px 0px 10px 0px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}
.contenedor1 {
  position: relative;
  height: 70px;
  width: 90%;
  margin-bottom: 17px;
}
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid hsl(220, 100%, 50%);
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
.input2 {
  position: absolute;
  top: 5px;
  left: 0px;
  border: 1px solid hsl(220, 100%, 50%);
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
#enviar {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: hsl(220, 100%, 50%);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}
footer{
  text-align: center;
  padding: 2px;
  background-color: #000000;
  color: #fff;
  opacity: 0.8  ;
  } 

.correo{
  background-color: #fff;
}
=======
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
    font-weight: 700;
    font-size: 25px;
    font-size: 1.5rem;
    line-height: 1.6em;
    background-image:url(imagenes/fondo_simple3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    font-size: 2rem;
    line-height: 1.3em;
}
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: auto;
}
.header{
    background-color: #4e6f9a;
    color: white;
    padding:0;
    position: fixed;
    left:0;
    top:0;
    right:0;
    z-index: 100;
}
.header a{
    color: white;
    text-decoration: none;
}
.logo-nav-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: space-between;
    border-radius: 50%;
}
.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a{
    display:block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegacion ul li a:hover {
  background-color: #4a4a4a;
}
.footer{
    font-size: medium;
    background-color: #4e6f9a;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 2rem;
}
.main{
    padding-top: 15rem;
}
.imagen1{
    height: 280px;
    width: 845px;
}
.imagenalex{
    height: 400px;
    width: 280px;
    margin-left: 25%;
}
.imagenjair{
    height: 380px;
    width: 300px;
    margin-left: 25%;
}
.imagendaniela{
    height: 400px;
    width: 250px;
    margin-left: 25%;
}
h3{
    margin-left: 37%;
}
.daniela{
    margin-left: 29%;
}
.alex{
    margin-left: 30%;
}
.body2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    line-height: 1.6em;
    background-image:url(imagenes/fondo_simple4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.contenedor-slider{
    position: relative;
    width: 500px;
    height: 300px;
    box-shadow: black;
    border-radius: 15px;
    overflow: hidden;
}
.slider{
    width: 300%;
    height: 100%;
    display: flex;
}
.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: center;
   width: calc(100% /3);
   height: 100%;
  
}
.slider--inner img{
   aspect-ratio: 16/9;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}
img{
    width: 260px;
    height: 300px;
}
.boton-izq,
.boton-der{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #030303;
    transform: translate(0,-50%);
    transition: .5s ease ;
    user-select: none;
}
.boton-izq:hover,
.boton-der:hover{
    background-color: #333333d4;
}
.boton-izq{
    left: 10px;
}
.boton-der{
    right: 10px;

}
 

>>>>>>> principal

#body1{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  font-family: "lato", sans-serif
}

#header1{
  display: block;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 100;
}
