body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 6px black;
    font-weight: 700;
    font-size: 25px;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin:0;
    background-image:url(imagenes/fondo_simple3.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    font-size: 2rem;
    line-height: 1.3em;
}
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: auto;
}
.header{
    background-color: grey;
    color: white;
    padding:0;
    position: fixed;
    left:0;
    top:0;
    right:0;
}
.header a{
    color: white;
    text-decoration: none;
}
.logo-nav-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: space-between;
    border-radius: 50%;
}
.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegacion ul li{
    display: inline-block;
}
.navegacion ul li a{
    display:block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegacion ul li a:hover {
  background-color: #4a4a4a;
}
.footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 6rem;
}
.main{
    padding-top: 15rem;
}
.imagen1{
    height: 280px;
    width: 845px;
}
.imagenalex{
    height: 400px;
    width: 280px;
}
.imagenjair{
    height: 380px;
    width: 300px;
}
.imagendaniela{
    height: 400px;
    width: 250px;
}
form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #donaciónTotal {
    background-color: black;
    padding: 20px;
    margin-bottom: 20px;
  }
.body2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    line-height: 1.6em;
    margin:0;
    background-image:url(imagenes/fondo_simple4.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
